@page
@model FoodAppCore.Pages.Restaurants.ListModel
@{
}
<h1> Resataurants    </h1>

<h1>On a side note here are the restaurants :</h1>

<form method="get">
    <div class="input-group mt-3">
        
            <input type="search" class="form-control col-md-10" asp-for="SearchTerm" />
            <span>
                <button class="btn btn btn-light m-2">
                 <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </span>
       
    </div>
</form>

@foreach(var restaurant in Model.restaurants)
{
    <partial name="_Summary" model="restaurant" />    
}

<a asp-page=".\Edit" class="btn btn-secondary mt-3">Create New</a>
@section footer {
    <div>@Model.Message</div>
}

