@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here's my Github Page <a href="https://github.com/mounyaze">Mounyaze</a>.</p>
    <h3>I built this Web App with Asp.Net core so that I can learn Better</h3>
</div>
