@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here's my Github Page <a href="https://github.com/mounyaze">Mounyaze</a>.</p>
    <h3>I built this Web App with Asp.Net core so that I can learn Better</h3>
    <img src="~/prettynails.jpg" width="300" height="400"/>
    
    <figure>
        <blockquote>
            <h3>"And that with pretty nails."</h3>
        </blockquote>

        <figcaption>-Gloria Pretchett</figcaption>, <cite>Modern Family</cite>
    </figure>
</div>
